/*SELETOR UNIVERSAL*/
*{
    margin: 0;
    padding: 0;
}
/*CORPO*/
body{
    font-family: 'Inter', sans-serif;
    
}
/*SEÇÃO CABEÇALHO*/
.cabecalho{
    background-color: #12C8D3;
    color: white;
    display: flex;
    padding: 24px;
    font-size: 24px;
    justify-content: space-around;
}
.cabecalho-imagem{
    width: 20%;
    height: 20%;
}
.cabecalho-item{
    display: inline-block;
    padding: 0px 20px;
}

.escola{
    background-image: linear-gradient(#17A8B0,#cbeded);
    color: white;
    font-size: 21px;
    padding: 20px 10px;   
}

.escola-titulo{
    text-align: center;
    margin: 20px;
}

div{
    display: flex;
    padding: 20px 100px;
}

.escola-paragrafo{
    text-align: justify;
}
.escola-imagem{
    width: 300px;
    height: 234px;
}

/*SEÇÃO ESTUDANTE*/
.estudante{
    background-image: linear-gradient(#154567,#15456710);
    color: white;
}
.estudante-imagem{
    width: 120px;
}

.estudante-titulo{
    text-align: center;
    padding-bottom: 50px;
}

.estudante-div-maior{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.estudante-div{
    text-align: center;
    
    
}

.estudante-git{
    text-align: center;
}