/*SELETOR UNIVERSAL*/
*{
    margin: 0;
    padding: 0;
}
/*CORPO*/
body{
    font-family: 'Inter', sans-serif;
    width: 1440px;
    
    
}
/*SEÇÃO CABEÇALHO*/
.cabecalho{
    background-color: #12C8D3;
    color: white;
    display: flex;
    padding: 24px;
    font-size: 24px;
    justify-content: space-around;
}
.cabecalho-imagem{
    width: 20%;
    height: 20%;
}
.cabecalho-item{
    display: inline-block;
    padding: 0px 20px;
}
/*SEÇÃO TURMA*/
.turma{
    background-image: linear-gradient(#17A8B0,#cbeded);
    color: white;
    font-size: 21px;
    padding: 20px 10px;   
}

.turma-titulo{
    text-align: center;
    margin: 20px;
    font-size: 40px;
}

div{
    display: flex;
    padding: 20px 100px;
}

.turma-paragrafo{
    text-align: justify;
}
.turma-imagem{
    width: 300px;
    height: 234px;
}

/*SEÇÃO ESTUDANTE*/
.estudante{
    background-image: linear-gradient(#154567,#15456700);
    color: white;
}
.estudante-imagem{
    width: 120px;
}

.estudante-titulo{
    text-align: center;
    padding: 50px 0;
    font-size: 40px;
}

.estudante-div-maior{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    padding: 0 60px;
}

.estudante-div{
    text-align: center;
    padding: 12px 0;
}

.estudante-imagem{
    width: 114px;
    height: 113px;
    
}

.estudante-git{
    
    width: 44px;
    height: 43px;
}

.estudante-nome{
    color:black;
}

ul{
    list-style-type: none;
    

}
